body {
  margin: 0;
  background-color: #fff;
  font-family: sans-serif;
}
a:hover {
  color: red;
}
h1, h2, h3 {
  font-weight: normal;
}
textarea {
  font-family: monospace;
  font-size: larger;
  height: 80vh;
  width: 100%;
}
#code {
  width: 100vw;
  height: 80vh;
}

.highlight {
  position: absolute;
  border: 1px solid red;
}